<h3>{{user}}</h3><aside class="img-container"><img {{bind-attr src='avatar' }} /></aside>
<p>{{text}}</p>
<ul class="skills">
  <li>Photoshop</li>
  <li>CSS</li>
  <li>HTML</li>
  <li>JavScript</li>
  <li>Sass</li>
  <li>JavaScript Frameworks</li>
</ul>
<p>Posted: {{date}}</p>
