section.answers {
  background: $light-red;
  height: 100%;
  padding: 2em 0;

  .answer {
	  opacity: 0;
	  @include animation(fadeInBottom .8s ease-out forwards 7.8s);
  }
}

.answer, %answer {
  $parent-bg: $red;
  background: white;
  //border: 2px solid $dark-gray;
  border-radius: 6px;
  box-shadow: 0px 2px 6px $parent-bg;
  margin: 2em auto;
  overflow: hidden;
  padding: 1em 2em 2em;
  position: relative;
  text-align: left;

  h3.user {
	  padding-bottom: 1em;
	  text-transform: capitalize;
  }

  aside.img-container {
    position: absolute;
    top: 0;
    right: 0;
    //@include transform(rotate(45deg));
    //-webkit-clip-path: polygon(50px 0px, 100px 50px, 50px 100px, 0px 50px);
    //clip-path: polygon(50px 0px, 100px 50px, 50px 100px, 0px 50px);

    img {
      overflow: hidden;
    }
  }

  p {
	clear: both;
    padding: 1em 0 0;
  }

  h4.skilled {
	  padding-top: 1em;
  }

  ul.skills {
	  clear: both;
	  padding: 0 1em 1em;
	  position: relative;

	  li {
		  float: left;
		  list-style-type: disc;
		  padding-bottom: 1em;
		  width: 25%;
	  }
  }

  &.answer-light {
	  $parent-bg: rgba(black, 0.3);
	  box-shadow: 0px 2px 6px $parent-bg;
  }
}
