{{view 'nav'}}
<header class="container">
  {{#link-to 'index'}}
  <h1>W<span>hat</span></h1>
  <h1>T<span>he</span></h1>
  <h1>F<span>ront-End</span></h1>
  {{/link-to}}
</header>
<div class="main">
  {{outlet}}
</div>
