<section class="upper-level">
  <article>
    <h2>The Question:</h2>
    <p>What is a front-end developer?</p>
    <h2>Your Answer:</h2>
    <p><button>Go For It</button></p>
    <h2>Their Answers</h2>
  </article>
  <article class="stats">
    <p>_______________________________________________________________</p>
  </article>
</section>
<section class="answers">
  <article class="answer card">
    <h3>Name or Twitter Handle</h3><aside class="img-container"><img src='http://placehold.it/100.png/E92B2B/ffffff&text=Profile' /></aside>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class="skills">
      <li>Photoshop</li>
      <li>CSS</li>
      <li>HTML</li>
      <li>JavScript</li>
      <li>Sass</li>
      <li>JavaScript Frameworks</li>
    </ul>
    <p>Posted: Post date</p>
  </article>
</section>
