<section class="upper-level">
  <article class="container thin">
    <h2>The Question:</h2>
    <p>What is a front-end developer?</p>
    <h2>Your Answer:</h2>
    <p>{{#link-to 'new' tagName='button'}}Go For It{{/link-to}}</p>
    <h2>Their Answers</h2>
  </article>
  <article class="stats">
  </article>
</section>
<section class="answers">
  {{#each}}
	{{post-answer}}
  {{/each}}
</section>
