<div id="tab" {{action 'open'}}>
  <p>&pr;</p>
</div>
<ul>
  {{#link-to 'index' tagName='li'}}Home{{/link-to}}
  {{#link-to 'about' tagName='li'}}About{{/link-to}}
  {{#link-to 'stats' tagName='li'}}Stats{{/link-to}}
  {{#link-to 'reference' tagName='li'}}References{{/link-to}}
</ul>
<p>Thanks for stopping by.</p>
