<div class="container">
  <h1>References for Front-End Developers</h1>
  <p>If you're a front-end developer, or an aspiring one, here are a list of references for getting started with self-education and finding a job in that position. You may find ads that don't match your definition of "front-end developer" and that's ok, apply anyway. This site was made to clarify the title of front-end developers and we hope it helps others find interest in the position as well. </p>
  <article>
    <h2>Defintitions elsewhere</h2>
    <ul>
	<li><a href="#">Outside Source</a></li>
    </ul>
</div>
